.favs, .my-gifs {
    padding-bottom: 5%;
    .results {
        margin: 5% 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .item {
            margin: 4%;
            width: 155px;
            height: 120px;
            line-height: 120px;
            border: solid 1px gray;
        }
    }
}