@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap");
/* line 1, ../app/utils/_variables.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary: #572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87, 46, 229, 0.9);
  --bkg-card-hover: rgba(87, 46, 229, 0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}
/* line 13, ../app/utils/_variables.scss */
body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0, 0, 0, 0.95);
  --bkg-modal-secondary: rgba(0, 0, 0, 0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}
/* line 22, ../app/utils/_variables.scss */
body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}
/* line 25, ../app/utils/_variables.scss */
body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}
/* line 28, ../app/utils/_variables.scss */
body.dark-mode .logo p {
  background: var(--bgk-primary);
}
/* line 31, ../app/utils/_variables.scss */
body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}
/* line 34, ../app/utils/_variables.scss */
body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}
/* line 38, ../app/utils/_variables.scss */
body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}
/* line 45, ../app/utils/_variables.scss */
body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}
/* line 50, ../app/utils/_variables.scss */
body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}
/* line 52, ../app/utils/_variables.scss */
body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

/* line 1, ../app/utils/_variables.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary: #572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87, 46, 229, 0.9);
  --bkg-card-hover: rgba(87, 46, 229, 0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}
/* line 13, ../app/utils/_variables.scss */
body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0, 0, 0, 0.95);
  --bkg-modal-secondary: rgba(0, 0, 0, 0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}
/* line 22, ../app/utils/_variables.scss */
body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}
/* line 25, ../app/utils/_variables.scss */
body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}
/* line 28, ../app/utils/_variables.scss */
body.dark-mode .logo p {
  background: var(--bgk-primary);
}
/* line 31, ../app/utils/_variables.scss */
body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}
/* line 34, ../app/utils/_variables.scss */
body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}
/* line 38, ../app/utils/_variables.scss */
body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}
/* line 45, ../app/utils/_variables.scss */
body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}
/* line 50, ../app/utils/_variables.scss */
body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}
/* line 52, ../app/utils/_variables.scss */
body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

/* line 3, ../app/componentes/_modal.scss */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--bkg-modal);
}
/* line 12, ../app/componentes/_modal.scss */
.modal header {
  background-color: var(--bgk-primary);
}
/* line 16, ../app/componentes/_modal.scss */
.modal .modal-content .body {
  text-align: center;
}
/* line 19, ../app/componentes/_modal.scss */
.modal .modal-content .body ul li {
  position: relative;
}
/* line 21, ../app/componentes/_modal.scss */
.modal .modal-content .body ul li::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--bgk-primary);
  bottom: 0;
  left: 45%;
}
/* line 32, ../app/componentes/_modal.scss */
.modal .modal-content .body a {
  display: block;
  padding: 8% 0;
  color: var(--color-text-modal);
}

/* line 41, ../app/componentes/_modal.scss */
#modal-galery {
  background-color: var(--bkg-modal-secondary);
}
/* line 43, ../app/componentes/_modal.scss */
#modal-galery .body {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20% auto 0;
}
/* line 48, ../app/componentes/_modal.scss */
#modal-galery .body .arrow {
  display: none;
}
/* line 51, ../app/componentes/_modal.scss */
#modal-galery .body img {
  margin: 20% 0 5%;
}
/* line 54, ../app/componentes/_modal.scss */
#modal-galery .body .fa-times {
  align-self: flex-end;
  cursor: pointer;
  color: var(--color-primary);
}
/* line 59, ../app/componentes/_modal.scss */
#modal-galery .body .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 63, ../app/componentes/_modal.scss */
#modal-galery .body .actions .description {
  text-align: left;
}
/* line 65, ../app/componentes/_modal.scss */
#modal-galery .body .actions .description .title {
  color: var(--color-third);
  font-weight: 600;
}

@media screen and (min-width: 901px) {
  /* line 76, ../app/componentes/_modal.scss */
  #modal-galery .body {
    width: 600px;
    margin: 4% auto;
    position: relative;
  }
  /* line 80, ../app/componentes/_modal.scss */
  #modal-galery .body .arrow {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 5%;
  }
  /* line 86, ../app/componentes/_modal.scss */
  #modal-galery .body .arrow:nth-child(2) {
    left: 5%;
  }
  /* line 90, ../app/componentes/_modal.scss */
  #modal-galery .body img {
    margin: 10% auto;
    width: 350px;
  }
}
/* line 1, ../app/utils/_variables.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary: #572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87, 46, 229, 0.9);
  --bkg-card-hover: rgba(87, 46, 229, 0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}
/* line 13, ../app/utils/_variables.scss */
body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0, 0, 0, 0.95);
  --bkg-modal-secondary: rgba(0, 0, 0, 0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}
/* line 22, ../app/utils/_variables.scss */
body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}
/* line 25, ../app/utils/_variables.scss */
body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}
/* line 28, ../app/utils/_variables.scss */
body.dark-mode .logo p {
  background: var(--bgk-primary);
}
/* line 31, ../app/utils/_variables.scss */
body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}
/* line 34, ../app/utils/_variables.scss */
body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}
/* line 38, ../app/utils/_variables.scss */
body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}
/* line 45, ../app/utils/_variables.scss */
body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}
/* line 50, ../app/utils/_variables.scss */
body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}
/* line 52, ../app/utils/_variables.scss */
body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

/* line 3, ../app/componentes/_card.scss */
.card {
  position: relative;
}
/* line 6, ../app/componentes/_card.scss */
.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
/* line 11, ../app/componentes/_card.scss */
.card .overlay {
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  position: absolute;
  background: var(--bkg-card-hover);
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  padding: 15px;
}
/* line 23, ../app/componentes/_card.scss */
.card .overlay > div {
  text-align: left;
  color: var(--color-text-modal);
}
/* line 26, ../app/componentes/_card.scss */
.card .overlay > div:first-of-type {
  align-self: flex-end;
}
/* line 31, ../app/componentes/_card.scss */
.card.-md {
  margin: 3%;
  overflow: hidden;
}
/* line 36, ../app/componentes/_card.scss */
.card.-md .overlay {
  padding: 7px;
  bottom: 0;
}
/* line 39, ../app/componentes/_card.scss */
.card.-md .overlay .icon {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  border-radius: 6px;
  background-position: center;
}

/* line 7, components.scss */
body main {
  margin: 5% auto;
  max-width: 980px;
}
/* line 10, components.scss */
body main .grid {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/* line 15, components.scss */
body main .grid .box {
  min-width: 200px;
  margin-left: 5%;
  padding: 1.5%;
}
/* line 19, components.scss */
body main .grid .box h6 {
  margin-bottom: 20px;
}
/* line 22, components.scss */
body main .grid .box .arrow {
  margin: 10px 0;
}
/* line 25, components.scss */
body main .grid .box > div {
  display: flex;
  flex-flow: column wrap;
}
/* line 28, components.scss */
body main .grid .box > div > img, body main .grid .box > div i, body main .grid .box > div .icon {
  display: inline-block;
  margin: 5px 0;
}
/* line 32, components.scss */
body main .grid .box > div.center {
  align-content: center;
}
/* line 36, components.scss */
body main .grid .box:first-child {
  margin: 0;
}
/* line 41, components.scss */
body main .search {
  width: 300px;
}
