@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .btn:hover {
  color: var(--bgk-primary);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .btn:hover {
  color: var(--bgk-primary);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--bkg-modal);
}

.modal header {
  background-color: var(--bgk-primary);
}

.modal .modal-content .body {
  text-align: center;
}

.modal .modal-content .body ul li {
  position: relative;
}

.modal .modal-content .body ul li::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--bgk-primary);
  bottom: 0;
  left: 45%;
}

.modal .modal-content .body a {
  display: block;
  padding: 8% 0;
  color: var(--color-text-modal);
}

#modal-galery {
  background-color: var(--bkg-modal-secondary);
}

#modal-galery .body {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20% auto 0;
}

#modal-galery .body img {
  margin: 20% 0 5%;
}

#modal-galery .body .fa-times {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  color: var(--color-primary);
}

#modal-galery .body .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-galery .body .actions .description {
  text-align: left;
}

#modal-galery .body .actions .description .title {
  color: var(--color-third);
  font-weight: 600;
}

@media screen and (min-width: 901px) {
  #modal-galery .body {
    width: 650px;
    margin: 4% auto;
  }
  #modal-galery .body img {
    margin: 10% 0;
    width: 650px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .btn:hover {
  color: var(--bgk-primary);
}

.card {
  position: relative;
}

.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.card .overlay {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background: var(--bkg-card-hover);
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  padding: 15px;
}

.card .overlay > div {
  text-align: left;
  color: var(--color-text-modal);
}

.card .overlay > div:first-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card.-sm {
  width: 155px;
  height: 120px;
  margin: 3%;
  overflow: hidden;
}

.card.-sm .overlay {
  padding: 7px;
  bottom: 0;
}

.card.-sm .overlay .icon {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  border-radius: 6px;
  background-position: center;
}

body main {
  margin: 5% auto;
  max-width: 980px;
}

body main .grid {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .grid .box {
  min-width: 200px;
  margin-left: 5%;
  padding: 1.5%;
}

body main .grid .box h6 {
  margin-bottom: 20px;
}

body main .grid .box .arrow {
  margin: 10px 0;
}

body main .grid .box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

body main .grid .box > div > img, body main .grid .box > div i, body main .grid .box > div .icon {
  display: inline-block;
  margin: 5px 0;
}

body main .grid .box > div.center {
  -ms-flex-line-pack: center;
      align-content: center;
}

body main .grid .box:first-child {
  margin: 0;
}
/*# sourceMappingURL=components.css.map */