// HEADER
header {
    border-top: solid 5px var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    color: var(--color-primary);
    i {
        cursor: pointer;
    }
}
footer {
    border-bottom: solid 5px var(--color-primary);
    padding: 12% 0 5%;
    ul {
        margin: 5% 0;
        li {
            list-style: none;
            display: inline-block;
            margin-left: 20px;
        }
    }
}