// HEADER
header {
    border-top: solid 5px var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    color: var(--color-primary);
    i {
        cursor: pointer;
    }
    .desktop-menu {
        display: none;
    }
}
footer {
    border-bottom: solid 5px var(--color-primary);
    padding: 12% 0 5%;
    text-align: center;
    ul {
        margin: 5% 0;
        li {
            list-style: none;
            display: inline-block;
            margin-left: 20px;
        }
    }
}
@media screen and (min-width: 901px) {
    header {
        .logo {
            width: 58px;
            height: 58px;
            p {
                top: 22px;
            }
        }
    }
    footer {
        padding: 3% 8.5%;
        display: flex;
        align-items: flex-start;
        p {
            &.text{
                flex: 1;
                text-align: right;
            }
            &.mg-bt-md{
                margin-bottom: 0;
            }
        }
        ul {
            margin: 0;
        }
    }
}