.search {
    margin: 10% 5%;
    margin-bottom: 15%;
    > .title span {
        color: var(--color-secondary);
    }
    .search-component {
        position: relative;
        margin: 10% 0;
        img {
            width: 85%;
            margin: 0 auto;
        }
        .fa-search {
            position: absolute;
            bottom: 19px;
            z-index: 1;
            right: 20px;
            font-size: 26px;
            color: var(--color-primary);
        }
        input {
            background-color: var(--bgk-primary);
            width: 100%;
            border-radius:25px;
            border: 1px solid var(--color-primary); 
            height: 50px;
            padding: 0 60px 0 50px;
            position: relative;
            top: -5px;
            font-size: 16px;
            color: var(--color-third);
        }
    }
    p {
        font-family: 'Montserrat', sans-serif;
    }
    .categories {
        margin: 10% 0;
        color: var(--color-primary);
        .title {
            font-size: 18px;
        }
    }
}

.trend {
    padding: 0 0 5%;
    background-color: var(--bgk-secondary);
    padding-top: 12%;
    .text, .title {
        margin-bottom: 10px;
    }
    .gallery {
        padding: 10px 0 0 0;
        justify-content: flex-start;
        overflow-x: auto;

        .gifs-wrapper {
            display: inline-flex;
            justify-content: center;
        }
        .arrow {
            display: none;
        }
        .card {
            margin:0 20px;
        }
    }
}

@media screen and (min-width: 901px) {
    header {
        padding: 2% 10%;
        margin-bottom: 5%;
        #menu-bars {
            display: none;
        }
        .desktop-menu {
            list-style: none;
            display: flex;
            align-items: center;
            text-align: center;
            li {
                margin-left: 30px;
                a {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    color: var(--color-primary);
                    text-transform: uppercase;
                }
            }
        }
    }
    .search {
        width: 650px;
        margin: 0 auto;
    }
    .trend {
        padding: 5% 0;
        .gallery {
            display: flex;
            justify-content: center;
            margin: 4% auto 0;
            padding: 0;
            overflow: initial;
            align-items: center;
            .arrow {
                display: block;
            }
        }
        img {
            width: 360px;
            height: 275px;
        }
    }
}