@import '../utils/variables';

.card {
    position: relative;
    &:hover{
        .overlay {
            opacity: 1;
            cursor: pointer;
        }
    }
    .overlay {
        opacity: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        position: absolute;
        background: var(--bkg-card-hover);
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        padding: 15px;
        > div {
            text-align: left;
            color: var(--color-text-modal);
            &:first-of-type {
                align-self: flex-end;
            }
        }
    }
    &.-sm {
        width: 155px;
        height: 120px;
        margin: 3%;
        overflow: hidden;
        .overlay {
            padding: 7px;
            bottom: 0;
            .icon{
                width: 30px;
                height: 30px;
                margin-left: 3px;
                border-radius: 6px;
                background-position: center;
            }
        }
    }
}