@import '../utils/variables';

.create-gifo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    .camera-container {
        position: absolute;
        top: 30%;
        left: 7%;
        #camera {
            position:relative;
            display: inline-block;
            width: 125px;
            height: 165px;
            z-index: 2;
        }
        #bright {
            position: relative;
            display: inline-block;
            width:76px;
            height:128px;
            margin-bottom: 18px;
            margin-left: -6px;
            z-index: 1;
        }
    }

    .film {
        display: inline-block;
        width: 145px;
        height: 90px;
        position: absolute;
        bottom: 20%;
        right:10%;
    }
    
    .title  {
        margin-bottom: 10%;
        span {
            color: var(--color-secondary);
        }
    }
    .screen {
        position: relative;
        min-width: 280px;
        width: 90%;
        margin: 10% auto;
        padding: 10%;
        border: solid 1px var(--color-primary);
        z-index: 2;
        background-color: var(--bgk-primary);
        .video {
            position: absolute;
            left:0;
            top: 0;
            width: 100%;
            height:100%;
        }
    }

}

.wrapper-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .timekeeper {
        align-self: center;
        position: relative;
        left: 18%;
    }
}
// stages 
.create-gifo-wrapper {
    #record, #endRecord, #uploadRecord, #timekeeper {
        display: none;
    }
    &.started {
        #startRecord {
            display: none;
        }
    }
    &.recording {
        #startRecord {
            display: none;
        }
        #record {
            display: inline-block;
        }
    }
    &.end-record {
        #record, #startRecord {
            display: none;
        }
        #endRecord, #timekeeper {
            display: inline-block;
        }
    }
    &.upload {
        #record, #startRecord {
            display: none;
        }
        #uploadRecord, #timekeeper {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 901px) { 
    .create-gifo {
        .screen {
            position:relative;
            width: 700px;
            height: 400px;
            padding: 20px;
            margin: 0 auto 30px auto;
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }
    .pagination {
        margin: 30px 0;
    }
    .line {
        width: 50%;
        margin: 20px auto;
    }
}