@import '../utils/variables';

.create-gifo {
    .title  {
        margin-bottom: 10%;
        span {
            color: var(--color-secondary);
        }
    }
    .screen {
        min-width: 280px;
        width: 90%;
        margin: 10% auto;
        padding: 10%;
        border: solid 1px var(--color-primary);
    }

}

@media screen and (min-width: 901px) { 
    .create-gifo {
        .screen {
            width: 700px;
            height: 400px;
            padding: 20px;
            margin: 0 auto 30px auto;
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }
    .pagination {
        margin: 30px 0;
    }
    .line {
        width: 50%;
        margin: 20px auto;
    }
}