@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap");
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

.icon {
  display: inline-block;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  cursor: pointer;
}

.icon.like {
  background-image: url("../images/icons-card/icon-fav.svg");
}

.icon.like:hover {
  background-image: url("../images/icons-card/icon-fav-hover.svg");
}

.icon.like.active {
  background-image: url("../images/icons-card/icon-fav-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon.download {
  background-image: url("../images/icons-card/icon-download.svg");
}

.icon.download:hover {
  background-image: url("../images/icons-card/icon-download-hover.svg");
}

.icon.max {
  background-image: url("../images/icons-card/icon-max-normal.svg");
}

.icon.max:hover {
  background-image: url("../images/icons-card/icon-max-hover.svg");
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

.link {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
}

.link.active {
  color: #9CAFC3;
}

.link.active:hover {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-secondary);
          text-decoration-color: var(--color-secondary);
}

body {
  background-color: var(--bgk-primary);
}

body main {
  text-align: center;
}

body.modal-open {
  overflow: hidden;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.mg-bt-md {
  margin-bottom: 15px;
}

.mg-bt-sm {
  margin-bottom: 10px;
}

.logo {
  width: 48px;
  height: 48px;
  border: solid 4px var(--color-secondary);
  position: relative;
  cursor: pointer;
}

.logo::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: var(--bgk-primary) transparent transparent var(--color-secondary);
  top: -4px;
  right: -5px;
}

.logo p {
  margin-left: 7px;
  background: var(--bgk-primary);
  width: 100%;
  position: relative;
  top: 16px;
  line-height: 20px;
  font-weight: 600;
}

.btn {
  display: inline-block;
  background-color: var(--bgk-primary);
  color: var(--color-primary);
  width: 130px;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}

.btn.add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-text-modal);
}

.arrow {
  background-color: var(--bgk-primary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 0;
  cursor: pointer;
}

.arrow i.fa {
  line-height: 40px;
  margin: 0 !important;
}

.arrow:hover {
  background-color: var(--color-primary);
  color: var(--color-text-modal);
}

header {
  border-top: solid 5px var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  color: var(--color-primary);
}

header i {
  cursor: pointer;
}

footer {
  border-bottom: solid 5px var(--color-primary);
  padding: 12% 0 5%;
}

footer ul {
  margin: 5% 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.search {
  margin: 10% 5%;
  margin-bottom: 15%;
}

.search > .title span {
  color: var(--color-secondary);
}

.search .search-component {
  position: relative;
  margin: 10% 0;
}

.search .search-component img {
  width: 85%;
  margin: 0 auto;
}

.search .search-component .fa-search {
  position: absolute;
  bottom: 19px;
  z-index: 1;
  right: 20px;
  font-size: 26px;
  color: var(--color-primary);
}

.search .search-component input {
  background-color: var(--bgk-primary);
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  height: 50px;
  padding: 0 60px 0 50px;
  position: relative;
  top: -5px;
  font-size: 16px;
  color: var(--color-third);
}

.search p {
  font-family: 'Montserrat', sans-serif;
}

.search .categories {
  margin: 10% 0;
  color: var(--color-primary);
}

.search .categories .title {
  font-size: 18px;
}

.trend {
  padding: 0 0 5%;
  background-color: var(--bgk-secondary);
  padding-top: 12%;
}

.trend .text, .trend .title {
  margin-bottom: 10px;
}

.trend .gallery {
  padding: 10px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.trend .gallery .card {
  margin-left: 20px;
}

.favs, .my-gifs {
  padding-bottom: 5%;
}

.favs .results, .my-gifs .results {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favs .results .item, .my-gifs .results .item {
  margin: 4%;
  width: 155px;
  height: 120px;
  line-height: 120px;
  border: solid 1px gray;
}

.my-gifs .results .title {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10%;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--bkg-modal);
}

.modal header {
  background-color: var(--bgk-primary);
}

.modal .modal-content .body {
  text-align: center;
}

.modal .modal-content .body ul li {
  position: relative;
}

.modal .modal-content .body ul li::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--bgk-primary);
  bottom: 0;
  left: 45%;
}

.modal .modal-content .body a {
  display: block;
  padding: 8% 0;
  color: var(--color-text-modal);
}

#modal-galery {
  background-color: var(--bkg-modal-secondary);
}

#modal-galery .body {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20% auto 0;
}

#modal-galery .body img {
  margin: 20% 0 5%;
}

#modal-galery .body .fa-times {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  color: var(--color-primary);
}

#modal-galery .body .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-galery .body .actions .description {
  text-align: left;
}

#modal-galery .body .actions .description .title {
  color: var(--color-third);
  font-weight: 600;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

.card {
  position: relative;
}

.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.card .overlay {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background: var(--bkg-card-hover);
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  padding: 15px;
}

.card .overlay > div {
  text-align: left;
  color: var(--color-text-modal);
}

.card .overlay > div:first-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card.-sm {
  width: 155px;
  height: 120px;
  margin: 3%;
  overflow: hidden;
}

.card.-sm .overlay {
  padding: 7px;
  bottom: 0;
}

.card.-sm .overlay .icon {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  border-radius: 6px;
  background-position: center;
}
/*# sourceMappingURL=styles.css.map */