@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}

body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}

body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}

body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

.icon {
  display: inline-block;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  cursor: pointer;
}

.icon.like {
  background-image: url("../images/icons-card/icon-fav.svg");
}

.icon.like:hover {
  background-image: url("../images/icons-card/icon-fav-hover.svg");
}

.icon.like.active {
  background-image: url("../images/icons-card/icon-fav-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.icon.download {
  background-image: url("../images/icons-card/icon-download.svg");
}

.icon.download:hover {
  background-image: url("../images/icons-card/icon-download-hover.svg");
}

.icon.max {
  background-image: url("../images/icons-card/icon-max-normal.svg");
}

.icon.max:hover {
  background-image: url("../images/icons-card/icon-max-hover.svg");
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

.link {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
}

.link.active {
  color: #9CAFC3;
}

.link.active:hover {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-secondary);
          text-decoration-color: var(--color-secondary);
}

body {
  background-color: var(--bgk-primary);
}

body main {
  text-align: center;
}

body.modal-open {
  overflow: hidden;
}

body #gifs-wrapper .card .icon.like:hover, body .results .card .icon.like:hover {
  background-image: url("../images/icons-card/icon-fav.svg");
  cursor: default;
}

body #gifs-wrapper .card .icon.download:hover, body .results .card .icon.download:hover {
  background-image: url("../images/icons-card/icon-download.svg");
  cursor: default;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.mg-bt-md {
  margin-bottom: 15px;
}

.mg-bt-sm {
  margin-bottom: 10px;
}

.logo {
  width: 48px;
  height: 48px;
  border: solid 4px var(--color-secondary);
  position: relative;
  cursor: pointer;
}

.logo::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: var(--bgk-primary) transparent transparent var(--color-secondary);
  top: -4px;
  right: -5px;
}

.logo a:active {
  color: var(--color-primary);
}

.logo p {
  margin-left: 7px;
  background: var(--bgk-primary);
  width: 100%;
  position: relative;
  top: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-primary);
}

.line {
  width: 90%;
  height: 7px;
  margin: 10% auto;
  background-color: var(--color-primary);
  border-radius: 8px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  margin-left: 15px;
}

.pagination li a {
  cursor: default;
}

.pagination li:first-of-type {
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: var(--bgk-primary);
  color: var(--color-primary);
  width: 130px;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
}

.btn.add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn.add:hover span, .btn.add:hover .fa {
  color: var(--bgk-primary);
}

.btn.circle {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
}

.btn.circle:hover {
  background-color: initial;
}

.btn.circle:hover span {
  color: var(--color-primary);
}

.btn.circle.active {
  background-color: var(--color-primary);
}

.btn.circle.active span {
  color: var(--color-text-modal);
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn:hover span, .btn:hover i {
  color: var(--color-text-modal);
}

.arrow {
  background-color: var(--bgk-primary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 0;
  cursor: pointer;
  font-size: 30px;
}

.arrow i.fa {
  line-height: 40px;
  margin: 0 !important;
}

.arrow:hover {
  background-color: var(--color-primary);
  color: var(--color-text-modal);
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 190px;
}

header {
  border-top: solid 5px var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  color: var(--color-primary);
}

header i {
  cursor: pointer;
}

header .desktop-menu {
  display: none;
}

footer {
  border-bottom: solid 5px var(--color-primary);
  padding: 12% 0 5%;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer ul {
  margin: 5% 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

@media screen and (min-width: 901px) {
  body {
    margin-bottom: 145px;
  }
  header .logo {
    width: 58px;
    height: 58px;
  }
  header .logo p {
    top: 22px;
  }
  footer {
    padding: 3% 8.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer p.text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
  }
  footer p.mg-bt-md {
    margin-bottom: 0;
  }
  footer ul {
    margin: 0;
  }
}

.search {
  margin: 10% 5%;
  margin-bottom: 15%;
}

.search > .title span {
  color: var(--color-secondary);
}

.search #results h2 {
  margin-bottom: 30px;
}

.search .search-component {
  position: relative;
  margin: 10% 0;
}

.search .search-component img {
  width: 85%;
  margin: 0 auto;
}

.search .search-component .input-content {
  position: relative;
}

.search .search-component .input-content > .fa-search, .search .search-component .input-content > .fa-times {
  position: absolute;
  bottom: 19px;
  z-index: 1;
  right: 20px;
  font-size: 26px;
  color: var(--color-primary);
}

.search .search-component .input-content input {
  background-color: var(--bgk-primary);
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  height: 50px;
  padding: 0 60px 0 50px;
  position: relative;
  top: -5px;
  font-size: 16px;
  color: var(--color-third);
}

.search .search-component .suggestions {
  display: none;
}

.search .search-component.active input#search {
  border-radius: 25px 25px 0 0;
  border-bottom: transparent;
}

.search .search-component.active .suggestions {
  display: block;
  list-style: none;
  border: 1px solid var(--color-primary);
  border-top: transparent;
  margin: 0 auto;
  margin-top: -5px;
  border-radius: 0 0 25px 25px;
  border-top: none;
  z-index: 0;
}

.search .search-component.active .suggestions li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
}

.search .search-component.active .suggestions li p {
  padding-left: 15px;
}

.search .search-component.active .suggestions li:first-of-type {
  border-top: 1px solid var(--color-primary);
}

.search p {
  font-family: 'Montserrat', sans-serif;
}

.search .categories {
  margin: 10% 0;
  color: var(--color-primary);
}

.search .categories .title {
  font-size: 18px;
}

.trend {
  padding: 0 0 5%;
  background-color: var(--bgk-secondary);
  padding-top: 12%;
}

.trend .text, .trend .title {
  margin-bottom: 10px;
}

.trend .gallery {
  padding: 10px 0 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: auto;
}

.trend .gallery #gifs-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.trend .gallery .arrow {
  display: none;
}

.trend .gallery .card {
  margin: 0 20px;
}

.trend img {
  width: auto;
  height: 350px;
}

@media screen and (min-width: 901px) {
  header {
    padding: 2% 10%;
    margin-bottom: 5%;
  }
  header #menu-bars {
    display: none;
  }
  header .desktop-menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .desktop-menu li {
    margin-left: 30px;
  }
  header .desktop-menu li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--color-primary);
    text-transform: uppercase;
  }
  .search {
    margin: 0 auto;
  }
  .search #results {
    margin: 2% auto;
  }
  .search .search-component {
    width: 650px;
    margin: 0 auto;
  }
  .trend {
    padding: 5% 0;
  }
  .trend .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 4% auto 0;
    padding: 0;
    overflow: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trend .gallery #gifs-wrapper {
    width: 80%;
    overflow-x: auto;
  }
  .trend .gallery .arrow {
    display: block;
  }
}

.favs, .my-gifs, .search {
  padding-bottom: 5%;
}

.favs .results, .my-gifs .results, .search .results {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favs .results .item, .my-gifs .results .item, .search .results .item {
  margin: 4%;
  width: 155px;
  height: 120px;
  line-height: 120px;
  border: solid 1px gray;
}

.my-gifs .results .title {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10%;
}

.my-gifs .results.no-content {
  display: block;
}

.my-gifs .results.no-content p {
  margin-top: 2%;
}

@media screen and (min-width: 901px) {
  .favs .card.-md, .my-gifs .card.-md, .search .card.-md {
    margin: 20px;
  }
  .favs .card.-md, .favs .card img, .my-gifs .card.-md, .my-gifs .card img, .search .card.-md, .search .card img {
    width: 260px;
    height: 200px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}

body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}

body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}

body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--bkg-modal);
}

.modal header {
  background-color: var(--bgk-primary);
}

.modal .modal-content .body {
  text-align: center;
}

.modal .modal-content .body ul li {
  position: relative;
}

.modal .modal-content .body ul li::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--bgk-primary);
  bottom: 0;
  left: 45%;
}

.modal .modal-content .body a {
  display: block;
  padding: 8% 0;
  color: var(--color-text-modal);
}

#modal-galery {
  background-color: var(--bkg-modal-secondary);
}

#modal-galery .body {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20% auto 0;
}

#modal-galery .body .arrow {
  display: none;
}

#modal-galery .body img {
  margin: 20% 0 5%;
}

#modal-galery .body .fa-times {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  color: var(--color-primary);
}

#modal-galery .body .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-galery .body .actions .description {
  text-align: left;
}

#modal-galery .body .actions .description .title {
  color: var(--color-third);
  font-weight: 600;
}

@media screen and (min-width: 901px) {
  #modal-galery .body {
    width: 600px;
    margin: 4% auto;
    position: relative;
  }
  #modal-galery .body .arrow {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 5%;
  }
  #modal-galery .body .arrow:nth-child(2) {
    left: 5%;
  }
  #modal-galery .body img {
    margin: 10% auto;
    width: 350px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}

body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}

body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}

body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

.card {
  position: relative;
}

.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.card .overlay {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background: var(--bkg-card-hover);
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  padding: 15px;
}

.card .overlay > div {
  text-align: left;
  color: var(--color-text-modal);
}

.card .overlay > div:first-of-type {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card.-md {
  width: 155px;
  height: 120px;
  margin: 3%;
  overflow: hidden;
}

.card.-md .overlay {
  padding: 7px;
  bottom: 0;
}

.card.-md .overlay .icon {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  border-radius: 6px;
  background-position: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-third: black;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
  --bkg-modal: rgba(87,46,229,0.9);
  --bkg-card-hover: rgba(87,46,229,0.8);
  --bkg-modal-secondary: #FFFFFF;
  --color-text-modal: #FFFFFF;
}

body.dark-mode {
  --color-primary: white;
  --color-secondary: #5ED7C6;
  --bgk-primary: #37383C;
  --bgk-secondary: #222326;
  --bkg-modal: rgba(0,0,0,0.95);
  --bkg-modal-secondary: rgba(0,0,0,0.95);
  --color-text-modal: #FFFFFF;
  --color-third: #fff;
}

body.dark-mode p, body.dark-mode i {
  color: var(--color-primary);
}

body.dark-mode .logo {
  border: solid 4px var(--color-secondary);
}

body.dark-mode .logo p {
  background: var(--bgk-primary);
}

body.dark-mode header {
  border-top: solid 5px var(--bgk-secondary);
}

body.dark-mode footer {
  border-bottom: solid 5px var(--bgk-secondary);
}

body.dark-mode .arrow:hover i, body.dark-mode .arrow:hover span, body.dark-mode .btn:hover i, body.dark-mode .btn:hover span {
  color: var(--bgk-primary);
}

body.dark-mode .btn.circle:hover span, body.dark-mode .btn.add:hover span {
  color: var(--color-primary);
}

body.dark-mode .btn.active, body.dark-mode .btn.active:hover {
  background-color: var(--color-primary);
}

body.dark-mode .btn.active span, body.dark-mode .btn.active:hover span {
  color: var(--bgk-primary);
}

.create-gifo .title {
  margin-bottom: 10%;
}

.create-gifo .title span {
  color: var(--color-secondary);
}

.create-gifo .screen {
  min-width: 280px;
  width: 90%;
  margin: 10% auto;
  padding: 10%;
  border: solid 1px var(--color-primary);
}

@media screen and (min-width: 901px) {
  .create-gifo .screen {
    width: 700px;
    height: 400px;
    padding: 20px;
    margin: 0 auto 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pagination {
    margin: 30px 0;
  }
  .line {
    width: 50%;
    margin: 20px auto;
  }
}
/*# sourceMappingURL=styles.css.map */