@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap");
:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --color-primary:#572EE5;
  --color-secondary: #5ED7C6;
  --bgk-primary: #FFFFFF;
  --bgk-secondary: #F3F5F8;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-primary);
}

body {
  background-color: var(--bgk-primary);
}

body main {
  text-align: center;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.mg-bt-md {
  margin-bottom: 15px;
}

.mg-bt-sm {
  margin-bottom: 10px;
}

header {
  border-top: solid 5px var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  color: var(--color-primary);
}

header .logo {
  width: 48px;
  height: 48px;
  border: solid 4px var(--color-secondary);
  position: relative;
  cursor: pointer;
}

header .logo::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: var(--bgk-primary) transparent transparent var(--color-secondary);
  top: -4px;
  right: -5px;
}

header .logo p {
  margin-left: 7px;
  background: var(--bgk-primary);
  width: 100%;
  position: relative;
  top: 16px;
  line-height: 20px;
  font-weight: 600;
}

header i {
  cursor: pointer;
}

footer {
  border-bottom: solid 5px var(--color-primary);
  padding: 12% 0 5%;
}

footer ul {
  margin: 5% 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.search {
  margin: 10% 5%;
  margin-bottom: 15%;
}

.search > .title span {
  color: var(--color-secondary);
}

.search .search-component {
  position: relative;
  margin: 10% 0;
}

.search .search-component img {
  width: 85%;
  margin: 0 auto;
}

.search .search-component .fa-search {
  position: absolute;
  bottom: 19px;
  z-index: 1;
  right: 20px;
  font-size: 26px;
  color: var(--color-primary);
}

.search .search-component input {
  background-color: var(--bgk-primary);
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--color-primary);
  height: 50px;
  padding: 0 60px 0 50px;
  position: relative;
  top: -5px;
  font-size: 16px;
}

.search p {
  font-family: 'Montserrat', sans-serif;
}

.search .categories {
  margin: 10% 0;
  color: var(--color-primary);
}

.search .categories .title {
  font-size: 18px;
}

.trend {
  padding: 0 0 5%;
  background-color: var(--bgk-secondary);
  padding-top: 12%;
}

.trend .text, .trend .title {
  margin-bottom: 10px;
}

.trend .gallery {
  padding: 10px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
}

.trend .gallery .card {
  margin-left: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: black;
}

.modal header {
  background-color: #37383C;
}

.modal .modal-content .body {
  text-align: center;
}

.modal .modal-content .body ul li {
  position: relative;
}

.modal .modal-content .body ul li::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background-color: #FFFFFF;
  bottom: 0;
  left: 45%;
}

.modal .modal-content .body a {
  display: block;
  padding: 8% 0;
  color: white;
}
/*# sourceMappingURL=styles.css.map */